<tr>
  <td style="margin: 0; padding: 0">
    <span
      style="
        display: inline-block;
        width: 100%;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
      "
    >
      <span style="display: block; margin: auto; padding: 0 2rem">
        <p style="color: #000">
          <b style="color: #000">Bonjour {{name}}, nous avons été informés de la perte de votre mot de passe.</b>
        </p>

        <p style="color: #000">
          Pour retrouver l'accès à votre compte vous pouvez ré-initialiser votre mot de passe en cliquant sur le lien
          ci-dessous :
        </p>

        <p>
          <a href="{{resetLink}}">Ré-initialiser mon mot de passe</a>
        </p>

        <p style="color: #000">Ou vous pouvez copier-coller ce lien dans votre navigateur web :</p>

        <p style="color: #000">
          <b>{{resetLink}}</b>
        </p>
      </span>
    </span>
  </td>
</tr>
